@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #c6a47e;
    --secondary-color: #282d32;
}

body {
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.slide-down {
    animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.slider-img {
    @apply relative;
}

.slider-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}
