@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #c6a47e;
    --secondary-color: #282d32;
}

body {
    background-color: var(--secondary-color);
}

.slide-down {
    animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
