@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #57b7c0;
    --text-color: #212529;
}

nav {
    background: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px 0px;
}
